@using PagedList.Mvc
@using WebShopping.Core.Objects;
@model PagedList.IPagedList<WebShopping.Core.Objects.Product>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    Member member = Session["Login"] as Member;
}
<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

    <!-- Sidebar Toggle (Topbar) -->
    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
        <i class="fa fa-bars"></i>
    </button>

    <!-- Topbar Search -->
    @using (Html.BeginForm("Index", "AdminProducts"))
    {
        <div class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
            <div class="input-group">
                <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..." name="search">
                <div class="input-group-append">
                    <button class="btn btn-primary" type="submit">
                        <i class="fas fa-search fa-sm"></i>
                    </button>
                </div>
            </div>
        </div>
    }

    @if (member == null || member.MemberShipTypeId != 4)
    {
        <script>
            window.location.href = "Error";
        </script>
    }
    else
    {
        <!-- Topbar Navbar -->
        <ul class="navbar-nav ml-auto">
            <!-- Nav Item - Alerts -->
            <!-- Nav Item - User Information -->
            <li class="nav-item dropdown no-arrow">
                <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="mr-2 d-none d-lg-inline text-gray-600 small">@member.Name</span>
                </a>
                <!-- Dropdown - User Information -->
                <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                     aria-labelledby="userDropdown">
                    <a class="dropdown-item" href="@Url.Action("Details", "Members")">
                        <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                        Profile
                    </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                        <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                        Logout
                    </a>
                </div>
            </li>

        </ul>
    }

</nav>


<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Products</h1>
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary"><a href="@Url.Action("Create","AdminProducts")">Create Product</a></h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <div id="dataTable_wrapper" class="dataTable_wrapper dt-bootstrap4">
                    <table class="table table-bordered" id="dataTable" width="100%">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Unit Price</th>
                                <th>Update Day</th>
                                <th>Quantity In Stock</th>
                                <th>Supply</th>
                                <th>Producer</th>
                                <th colspan="2" style="text-align:center">Action</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>Name</th>
                                <th>Unit Price</th>
                                <th>Update Day</th>
                                <th>Quantity In Stock</th>
                                <th>Supply</th>
                                <th>Producer</th>
                                <th colspan="2" style="text-align:center">Action</th>
                            </tr>
                        </tfoot>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.Name</td>
                                    <td>$@item.UnitPrice.ToString("#,##")</td>
                                    <td>
                                        @String.Format("{0:dddd, dd MMM yyyy}", item.UpdateDay)
                                    </td>
                                    <td style="text-align:center">@item.QuantityInStock</td>
                                    <td>@((item.SupplierId==1)?"I-Max":(item.SupplierId==2)?"Mobilecity":"Cellphone")</td>
                                    <td>@((item.ProducerId==1)?"Apple":(item.ProducerId==2)?"Oppo":(item.ProducerId==3)?"Xiaomi":(item.ProducerId==4)?"Google Pixel":(item.ProducerId==5)?"Dell":(item.ProducerId==6)?"HTC":(item.ProducerId==7)?"Nokia":(item.ProducerId==8)?"Saamsung":(item.ProducerId==9)?"Sony":(item.ProducerId==10)?"MSI":(item.ProducerId==11)?"HP":"Acer")</td>
                                    <td style="text-align:center">@Html.ActionLink("Edit", "Edit", new { id = item.Id }) </td>
                                    <td style="text-align:center">@Html.ActionLink("Details", "Details", new { id = item.Id })</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
                    <div class="page" style="float:right">
                        @Html.PagedListPager(Model, Page => Url.Action("Index", new { Page }))
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>


